@page
@model eCO2Tracker.Pages.Rewards.IndexModel
@{
    ViewData["title"] = "Rewards";
}
<link rel="stylesheet" href="~/css/rewardsPage.css" />

<h1 class="display-4">@ViewData["title"]</h1>
<h1>Current points</h1>
<h1>Placeholder number</h1>

<a href="#myrewards">My rewards</a>
<a href="#getrewards">Get rewards</a>

<section id="myrewards">
    <div class="card"> 
        <h1 class="display-4">sth</h1>
        <p></p>
        <p></p>
    </div>
</section>

<section id="getrewards">
    <div></div>
</section>