.rewards-page-title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points-border {
    width: 90%;
    height: 25vh;
    margin: auto;
    background-color: #0ba6a8;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-content {
    min-height: 500px;
}

.rewards-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rewards-navlink {
    margin: 10px 10px 5px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.rewards-navlink-active {
    padding-top: 3px;
    margin: 10px 10px 5px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    border-bottom: 3px solid #0ba6a8;
}

    .rewards-navlink-active:hover {
        color: #0ba6a8;
    }

.rewards-navlink:hover {
    color: #0ba6a8;
}

/*Shop related*/

.shop-button {
    text-decoration: none;
    color: #000000;
    border: 0px;
    width: 300px;
    height: 200px;
    margin: 30px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .shop-button:hover {
        color: #ffffff;
        background-color: #0ba6a8;
        border: 2px solid #000000;
    }

/* Shop listings */

.shop-logo {
    width: 80px;
    height: 80px;
    display: inline-block
}

.wallet-logo {
    width: 30px;
    height: 30px;
}

.shop-back-button {
    text-decoration: none;
    background-color: #0ba6a8;
    color: #fff;
    padding: 5px 8px;
    border: solid 3px #000;
}

    .shop-back-button:hover {
        color: #fff
    }

.points-counter {
    font-weight: bold;
    color: #0ba6a8;
}

.grid-container {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 400px;
    grid-row-gap: 40px;
    justify-content: space-between;
}

.image-container{
    text-align: center;
    border: 3px solid #0ba6a8;
    padding: 10px;
}

.image {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.info-container {
    max-height: 100px;
    padding: 5px;
}

.product-name {
    font-size: 1em;
    margin-top: 0.5em;
    font-weight: bold;
}

.product-price {
    font-size: 1.5em;
    padding: 0px;
    font-weight: bold;
    color: #0ba6a8;
    margin-top: 10px;
}

.product-quantity {
    font-size: 0.8em;
    padding: 0px;
    color: #000000;
    margin-top: 10px;
}

.add-to-cart-button {
    width: 50%;
    border-radius: 5px;
    padding: 8px;
    background-color: #0ba6a8;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


/*Admin related*/
.add-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #0ba6a8;
    border-radius: 10px;
    border: 0px;
    padding: 8px 10px 8px 10px;
}

.delete-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
    border: 0px;
    padding: 8px 10px 8px 10px;
}

.add-button:hover {
    color: #ffffff;
}

.view-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #0ba6a8;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
    border: 0px;
}

.view-button-1 {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #0ba6a8;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

    .view-button-1:hover {
        color: #fff;
    }

.table-padding {
    padding-bottom: 40px;
}

.img-preview {
    height: 220px;
    width: 345px;
    padding: 1em;
    margin-top: 1em;
    object-fit: cover;
    border: solid 3px #0ba6a8;
}

.page-nav-link {
    text-decoration: none;
    color: #0ba6a8;
}

    .page-nav-link:hover {
        color: #0ba6a8;
        font-weight: bold;
    }
