html {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

input, select {
    max-width: 600px;
}

.btn {
    min-width: 80px;
}

p {
    padding: 0;
}