@model IEnumerable<eCO2TrackerWebApp.Models.UserView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="row">
    <div class="jumbotron bg-white">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is user dashboard</p>
        <p>You may take some actions here ...</p>
       
    </div>
</div>


