@page "{id}"
@model Pages.User.EditModel

<form method="post">
    <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" asp-for="User.Id" readonly />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" asp-for="User.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" asp-for="User.LastName" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="User.Email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="User.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
